[Unit]
Description=Fast Knowledge Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/fast-knowledge-tlbb
Environment="PATH=/root/miniconda3/envs/fast-knowledge/bin"
ExecStart=/root/miniconda3/envs/fast-knowledge/bin/python manage.py run-server
Restart=on-failure
PIDFile=/var/run/fast-knowledge.pid

[Install]
WantedBy=multi-user.target